@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap");

html {
  --highlightColor: #ffc107;
  --highlightColorComplement: #003ef8;
  --backgroundColor: #303030;
  --paperBackground: #424242;
  --primaryColor: #fff;
  --secondaryColor: rgba(255, 255, 255, 0.7);
  --disabled: rgba(255, 255, 255, 0.5);
  --hover: rgba(255, 255, 255, 0.08);
  --success: #4caf50;
  --error: #f44336;
  scroll-behavior: smooth;
  --border: 2px solid var(--primaryColor);
  --borderRadius: 8px;
  --boxShadow: 0 6px 6px -6px black;
}

html[data-theme="light"] {
  --backgroundColor: #eee;
  --paperBackground: #fafafa;
  --primaryColor: rgba(0, 0, 0, 0.87);
  --highlightColor: #098203;
  --highlightColorComplement: #f67dfc;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

*::selection {
  background-color: var(--highlightColor);
  color: var(--backgroundColor);
}

a {
  color: var(--highlightColor);
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

p {
  line-height: 1.45em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--highlightColor);
}

h4 {
  text-transform: uppercase;
  padding-bottom: 0.2em;
}

body {
  background-color: var(--backgroundColor);
  color: var(--primaryColor);
  font-family: "Roboto", sans-serif;
}

input[type="text"],
input[type="email"],
input[type="password"],
textarea {
  background-color: #fafafa;
  border-width: 0;
  padding: 1em;
  border-radius: var(--borderRadius);
  border: var(--border);
  transition-property: border-color;
  transition-duration: 250ms;
  &:focus,
  &:hover {
    border-color: var(--highlightColor);
    outline: none;
  }
}

.highlight {
  box-sizing: border-box;
  background: var(--highlightColor);
  display: inline;
  padding: 0.2em 0.2em;
  color: var(--backgroundColor);
  border-radius: var(--borderRadius);
}

.button {
  border: 0;
  min-width: max-content;
  padding: 0.5em 1em;
  background-color: var(--highlightColor);
  color: var(--backgroundColor);
  font-size: 1.1em;
  border-radius: var(--borderRadius);
  transition-property: background-color color;
  transition-duration: 250ms;
  transition-timing-function: ease-out;
  &:hover {
    background-color: var(--hover);
    color: var(--highlightColor);
    text-decoration: none;
    cursor: pointer;
  }
}

.container {
  padding: 1em;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 800px;
  margin: auto;
  background-color: var(--paperBackground);
  border-radius: var(--borderRadius);
  box-shadow: var(--boxShadow);
}
